package ${pkgPrefix}.service.${module};

import ${pkgPrefix}.common.domain.${module}.${className};
import ${pkgPrefix}.database.mybatis.mapper.${module}.${className}Mapper;
import ${pkgPrefix}.database.mybatis.service.AbstractMybatisService;
import org.springframework.stereotype.Service;

/**
 * ${className}Service
 *
 * @author : code generator
 * @version : 1.0
 * @since : ${date}
 */
@Service
public class ${className}Service extends AbstractMybatisService<${className}Mapper, ${className}>{

}