#---------------------------------------------------------
# Specific templates configuration file
# 3 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the template to use
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

file1=Entity Java Bean class  ; ${javaSource}/domain/${module}/${className}.java     ; /common/DomainMybatisAndJPA.tmpl
file3=ServiceImpl class ; ${javaSource}/mybatis/service/${module}/${className}Service.java ; /mybatis/Service.tmpl
file4=Controller class ; ${javaSource}/mybatis/controller/${module}/${className}Controller.java ; /mybatis/Controller.tmpl
file5=Mapper class ; ${javaSource}/mybatis/mapper/${module}/${className}Mapper.java ; /mybatis/Mapper.tmpl
file6=MapperXml xml ; ${javaSource}/mybatis/xml/${module}/${classVar}Mapper.xml ; /mybatis/MapperXml.tmpl

