package ${pkgPrefix}.database.mybatis.mapper.${module};

import ${pkgPrefix}.common.domain.${module}.${className};
import ${pkgPrefix}.database.mybatis.mapper.base.GenericMybatisMapper;
import org.springframework.stereotype.Component;

/**
 * ${className} mapper
 * @author : code generator
 * @version : 1.0
 * @since : ${date}
 */
@Component
public class ${className}Mapper extends GenericMybatisMapper<${className}> {



}